# Rust's output directory
target

# Local settings
.soroban
.stellar
Cargo.lock
contracts/vanna_finance/test_snapshots/tests/basic/test.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_burn_vxlm_tokens.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_deposit_xlm_insufficient_balance.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_deposit_xlm_success.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_deposit_xlm_zero_amount.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_events_emission.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_get_lenders_xlm.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_get_xlm_pool_balance.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_initialize_pool_xlm_not_deployed.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_initialize_pool_xlm_success.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_mint_vxlm_tokens.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_multiple_deposits_same_lender.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_multiple_lenders.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_pool_not_initialized_error.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_token_value_zero_error.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_withdraw_xlm_insufficient_balance.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_withdraw_xlm_lender_not_registered.1.json
contracts/vanna_finance/test_snapshots/tests/lp_xlm_test/tests/test_withdraw_xlm_success.1.json
account.txt
transaction_tests.txt
tests_accounts.txt
