# Rust's output directory
target

# Local settings
.soroban
.stellar
Cargo.lock
contracts/vanna_finance/test_snapshots/*
account.txt
transaction_tests.txt
tests_accounts.txt
contracts/VEURCTokenContract/test_snapshots/*
contracts/VUSDCTokenContract/test_snapshots/*
contracts/VXLMTokenContract/test_snapshots/*
integrated_test/test_snapshots/*
contracts/TrackingTokenContract/test_snapshots/test/tests/test_burn.1.json
contracts/TrackingTokenContract/test_snapshots/test/tests/test_initialize.1.json
contracts/TrackingTokenContract/test_snapshots/test/tests/test_mint_and_balance.1.json
contracts/TrackingTokenContract/test_snapshots/test/tests/test_transfer.1.json
